# @file
# .gitignore to prevent checking in contrib code.

# By default, ignore everything in modules/ and themes/
modules/*
themes/*
libraries/*

# Exceptions for anything in the custom/ subfolders.
!modules/custom
!themes/custom
!modules/custom_features
!libraries/custom
